<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CustomerSignupServlet</servlet-name>
        <servlet-class>CustomerSignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatDisplayServlet</servlet-name>
        <servlet-class>CatDisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DogDisplayServlet</servlet-name>
        <servlet-class>DogDisplayServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CustomerLogin</servlet-name>
        <servlet-class>CustomerLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpEmployee</servlet-name>
        <servlet-class>SignUpEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginEmployee</servlet-name>
        <servlet-class>LoginEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <servlet-class>AdminSignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePets</servlet-name>
        <servlet-class>DeletePets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPets</servlet-name>
        <servlet-class>AddPets</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteEmployee</servlet-name>
        <servlet-class>DeleteEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProduct</servlet-name>
        <servlet-class>AddProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProduct</servlet-name>
        <servlet-class>DeleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCustomer</servlet-name>
        <servlet-class>AddCustomer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCustomer</servlet-name>
        <servlet-class>DeleteCustomer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CustomerSignupServlet</servlet-name>
        <url-pattern>/CustomerSignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatDisplayServlet</servlet-name>
        <url-pattern>/CatDisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DogDisplayServlet</servlet-name>
        <url-pattern>/DogDisplayServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CustomerLogin</servlet-name>
        <url-pattern>/CustomerLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpEmployee</servlet-name>
        <url-pattern>/SignUpEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginEmployee</servlet-name>
        <url-pattern>/LoginEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignUpServlet</servlet-name>
        <url-pattern>/AdminSignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePets</servlet-name>
        <url-pattern>/DeletePets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPets</servlet-name>
        <url-pattern>/AddPets</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteEmployee</servlet-name>
        <url-pattern>/DeleteEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProduct</servlet-name>
        <url-pattern>/AddProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProduct</servlet-name>
        <url-pattern>/DeleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCustomer</servlet-name>
        <url-pattern>/AddCustomer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCustomer</servlet-name>
        <url-pattern>/DeleteCustomer</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
